body{
    background-color: lightslategray;
    text-align: center;
    margin-top: 50px;
}

.allRatInfo {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#modal {
    display: none;
}

#ifRat{
    display:none;
}

#ifCage{
    display:none;
}