/* CSS RATS */
/* Canvas */
.canvas{
    position: relative;
    display: block;
    width: 145px;
    height:135px;
    float: left;
}

/* Body */
.ratBody{
    position: absolute;
    background: darkgray;
    top: 16px;
    left: 27px;
    width: 91px;
    height: 103px;
    clip-path:polygon(
        25% 0%, 
        75% 0%, 
        100% 30%, 
        100% 100%, 
        0% 100%, 
        0% 30%
    );
    border-radius: 80% 80% 50% 50%;
}

.hairlessBody {
    background: #b9949a;
}

.shinySpots{
    position: absolute;
    background: white;
    opacity: 75%;
    top: 25px;
    left: 50px;
    width: 5px;
    height: 9px;
    border-radius: 100%;
    rotate: 50deg;
}

.shinySpots::after{
    content: '';
    position: absolute;
    /* opacity: 80%; */
    background: white;
    top: -10px;
    left: 1px;
    width: 4px;
    height: 8px;
    border-radius: 100%;
    rotate: 22deg;
}

/* Ears */
.ear {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 30px;
    background: darkgray;
    border-radius: 0% 100% 100% 100%;
}
 
.ear::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 16px;
    height: 26px;
    background: #edb6be;
    border-radius: 0% 100% 100% 100%;
}

.leftEar {
    left: 30px;
    transform: rotate(220deg);
}
  
  .rightEar {
    left: 94px;
    transform: rotate(-220deg) scaleX(-1);
  }
  
  /* Dumbo Rat Ears */
  .dumboEar {
    position: absolute;
    top: 25px;
    width: 28px;
    height: 30px;
    background: darkgray;
    border-radius: 0% 100% 100% 100%;
  }

  .dumboEar::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 24px;
    height: 26px;
    background: #edb6be;
    border-radius: 0% 100% 100% 100%;
  }

  .dumboLeftEar {
    left: 19px;
    transform: rotate(195deg);
  }
  
  .dumboRightEar {
    left: 99px;
    transform: rotate(-195deg) scaleX(-1);
  }

  /* Hairless Ears */
  .hairlessEar {
    background: #b9949a;
  }

  /* Bristle Coat Fur */
  .bristleFur {
    position: absolute;
    left: 70px;
    top: 8px;
    width: 5px;
    height: 15px;
    background: darkgray;
    border-radius: 100%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    rotate: 44deg;
  }

  .bristleFur2 {
    position: absolute;
    left: 66px;
    top: 9px;
    width: 5px;
    height: 15px;
    background: darkgray;
    border-radius: 100%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    rotate: 40deg;
  }

  .bristleFur3 {
    position: absolute;
    left: 71px;
    top: 9.5px;
    width: 5px;
    height: 15px;
    background: darkgray;
    border-radius: 100%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    rotate: 44deg;
  }

  /* Rex Fur */
  .rexFur1{
    position: absolute;
    height: 10px;
    width: 10px;
    left: 60px;
    top: 12px;
    border-radius: 100%;
    rotate: 100deg;
  }

  .rexFur2{
    position: absolute;
    height: 10px;
    width: 10px;
    left: 59px;
    top: 15px;
    border-radius: 100%;
    rotate: 80deg;
  }

  .rexFur3{
    position: absolute;
    height: 10px;
    width: 10px;
    left: 80px;
    top: 15px;
    border-radius: 100%;
    rotate: 270deg;
  }

  /* Toes */
  .toes {
    position: absolute;
    background-color: #edb6be;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    top: 105px;
  }

  .toesLeft {
    left: 32px;
  }

  .toesRight {
    left: 94px; 
  }

  /* Hands */
  .hands {
    position: absolute;
    background-color: #edb6be;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    top: 88px;
  }

  .handsLeft {
    left: 50px;
  }

  .handsRight {
    left: 80px; 
  }

  /* Nose */
  .nose {
    position: absolute;
    background-color: #edb6be;
    width: 14px;
    height: 9px;
    top: 59px;
    left: 66px;
    clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
    border-radius: 80%;
  }

  /* whiskers */
  .whiskers {
    position: absolute;
    height: 1px;
    width: 35px;
    background: rgb(77, 76, 76);
    top: 62px;
  }

  .whiskersLeft{
    left: 20px;
  }

  .whiskersLeft::after{
    content: '';
    position: absolute;
    top: 9px;
    left: 0px;
    height: 1px;
    width: 35px;
    background: rgb(77, 76, 76);
    rotate: -10deg;
  }

  .whiskersRight{
    left: 90px;
  }

  .whiskersRight::after{
    content: '';
    position: absolute;
    top: 9px;
    height: 1px;
    left: 0px;
    width: 35px;
    background: rgb(77, 76, 76);
    rotate: 10deg;
  }

  /* Eyes */
  .eyes {
    position: absolute;
    background-color: black;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    top: 43px;
  }

  .eyes::after{
    content: '';
    position: absolute;
    opacity: 85%;
    border-radius: 100%;
    width: 7px;
    height: 7px;   
    top: 4.5px;
    left: 4px;
    box-shadow: inset 0px 2px 0.5px 0px white;
    rotate: 130deg;
  }

  .eyesLeft {
    left: 49px;
  }

  .eyesRight {
    left: 85px; 
  }

  /* Tail */
  .tail{
    position: absolute;
    top: 99px;
    left: 99px;
    height: 30px;
    width: 30px;
    border: solid 5px #b9949a;
    border-color: #b9949a #b9949a #b9949a transparent;
    border-radius: 0 90% 60% 0;
  }

  .tail::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 30px;
    height: 5px;
    width: 10px;
    background: #b9949a;
    border-radius: 90% 0 0 60%;
  }

  /* Hairless Tail */
  .hairlessTail {
    border: solid 5px #edb6be;
    border-color: #edb6be #edb6be #edb6be transparent;
  }

  .hairlessTail::after{
    background: #edb6be;
  }

/* COLORS */
.beige{
  background: #bfae94;
}
  
.black{
  background: #282828;
}

.blue{
  background: #676360;
}

.blueBeige{
  background: #c2c5be;
}

.champagne{
  background: #d1b8a4;
}

.chocolate{
  background: #493828;
}

.cocoa{
  background: #7d684d;
}

.lilac{
  background: #ad9f96;
}

.mink{
  background: #6d6057;
}

.platinum{
  background: #c3c0bb;
}

.powderBlue{
  background: #b2b1af;
}

.russianBlue{
  background: #645d57;
}

.russianDove{
  background: #ac9e93;
}

.skyBlue{
  background: #84857f;
}

.white{
  background: #edecf1;
}

.red{
  background: #cc6053;
}

/* Rex top of head fur */
.rexFur{
  box-shadow: inset 0px 2px 0px 0px darkgray;
}

.rexFur-beige{
  box-shadow: inset 0px 2px 0px 0px #bfae94;
}

.rexFur-black{
  box-shadow: inset 0px 2px 0px 0px #282828;
}

.rexFur-blue{
  box-shadow: inset 0px 2px 0px 0px #676360;
}

.rexFur-blueBeige{
  box-shadow: inset 0px 2px 0px 0px #c2c5be;
}

.rexFur-champagne{
  box-shadow: inset 0px 2px 0px 0px #d1b8a4;
}

.rexFur-chocolate{
  box-shadow: inset 0px 2px 0px 0px #493828;
}

.rexFur-cocoa{
  box-shadow: inset 0px 2px 0px 0px #7d684d;
}

.rexFur-lilac{
  box-shadow: inset 0px 2px 0px 0px #ad9f96;
}

.rexFur-mink{
  box-shadow: inset 0px 2px 0px 0px #6d6057;
}

.rexFur-platinum{
  box-shadow: inset 0px 2px 0px 0px #c3c0bb;
}

.rexFur-powderBlue{
  box-shadow: inset 0px 2px 0px 0px #b2b1af;
}

.rexFur-russianBlue{
  box-shadow: inset 0px 2px 0px 0px #645d57;
}

.rexFur-russianDove{
  box-shadow: inset 0px 2px 0px 0px #ac9e93;
}

.rexFur-skyBlue{
  box-shadow: inset 0px 2px 0px 0px #84857f;
}

.rexFur-white{
  box-shadow: inset 0px 2px 0px 0px #edecf1;
}

/* .rexFur-red{
  box-shadow: inset 0px 2px 0px 0px #cc6053;
} */