body{
    background: rgb(91, 87, 95);
}

.shop{
    display: flex;
    justify-content: center;

}

#shopRatsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;
}