body{
    background: rgb(91, 87, 95);
}

#shop{
    display: none;
}

#first_shop{
    display: none;
}

#shopRatsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;
}

#firstWantToBuy, #wantToBuy, #ratSubmit, #name, #firstRatForm, #closed{
    display: none;
}