body{
    background-color: lightslategray;
    text-align: center;
    margin-top: 50px;
}

/* DRAG AND DROP TEST */
.dragContainer{
  height: 300px;
  width: 300px;
  border: solid;
}

.dragItem{
  position: fixed;
  cursor: pointer;
  height: 100px;
  width: 100px;
  background-color: black;
}

.insideDrag{
  position: absolute;
}


/* RATS */
.shopSexes, .shopName, .shopSubmit, .tempItems{
  display: none;
}

#modal, #ifRat, #ifCage, #ifMatchmaking, #rat2, #matchmakingSubmit, #matchmakingName{
  display: none;
}

.allRatInfo, .cageContainer, .shopRatsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.shopRatsContainer{
  margin-top: 2%;
}

.ratName, .ratSexes{
  position: relative;
  justify-content: center;
  top: -30px;
}

.cage{
  border: solid;
}

#smallCage{
  height: 290px;
  width: 270px;
}

/*  */

/* Drag and Drop */
.draggable{
  position: fixed;
}





